# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv/
venv/
ENV/

# Databases
*.db
*.sqlite3

# Backups
backup_*/
backups/

# Logs
*.log
logs/

# Telegram temporary files
*.temp
